/* components/TestimonialCarousel.module.css */
.carouselWrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
  }
  
  .slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .testimonialCard {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .testimonialCard img {
    width: 100px;
  }
  
  .testimonialCard p {
    font-size: 18px;
    text-align: center;
  }
  